.idea/
buid/
venv/
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
front/node_modules
front/.pnp
front/.pnp.js

# testing
front//coverage

# production
front/build

# misc
front/.DS_Store
front/.env.local
front/.env.development.local
front/.env.test.local
front/.env.production.local

front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*
